<!DOCTYPE html>
<html lang="en">

<head>
    <script type=text/javascript src="{{url_for('static', filename='script.js') }}"></script>
    <link href="{{url_for('static', filename='style.css') }}" type="text/css" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BloodBank</title>
</head>

<body>
    <div class="wrapper">
        <br>
        <h1 class="heading">Blood Management System 🩸</h1>
        <br><br>
        <table class="table" id="BloodBankTable">
        </table>
    </div>
</body>

</html>